cpio_compression = "xz"
cpio_rotate = true
check_cpio = true

[imports.build_pre]
"ugrd.fs.cpio" = [ "get_archive_name" ]

[imports.pack]
"ugrd.fs.cpio" = [ "make_cpio" ]

[imports.checks]
"ugrd.fs.cpio" = [ "check_cpio_deps", "check_cpio_funcs", "check_in_cpio" ]

[custom_parameters]
cpio_rotate = "bool"  # makes a .old backup of the cpio file if it already exists.
cpio_compression = "str"  # The compression method to use for the cpio file. XZ and ZSTD are supported.
_cpio_archive = "PyCPIO"  # The cpio archive object.
check_cpio = "bool"  # When enabled, the CPIO archive contents are checked for errors.
check_in_cpio = "dict"  # A dictionary of files to check for in the cpio archive.
